@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "benguiat";
  src: url("../public/fonts/Benguiat\ Normal.ttf");
}

@font-face {
  font-family: "highway-gothic";
  src: url("../public/fonts/HWYGWDE.TTF");
}
